<div class="container">
  <div class="row text-center" style="margin-top:17px">
    <div class="card center" style="width: 28rem;">
      <img *ngIf="!session.getUserGender()" class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtjC1ue_JBgcpqkfusdsWaehhnHrjx5nZMG76rEZj4hoAm_gMD"
        alt="Card image cap">
      <img *ngIf="session.getUserGender()" class="card-img-top" src="http://semantic-ui.com/images/avatar2/large/kristy.png" alt="Card image cap">
      <div class="card-body" ng-controller="myController">
        <h5 class="card-title">Profile</h5>
        <form (ngSubmit)="submitForm(user._id, edituser)" #edituser="ngForm">
          <label> Username </label>
          <input type="text" class="form-control" name="username" [(ngModel)]="session.username" required>
          <label> Gender </label>
          <select class="form-control" name="gender" [(ngModel)]="session.gender">
            <option value="M">M</option>
            <option value="F">F</option>
          </select>
          <label> Age </label>
          <input class="form-control" type="date" name="age" [(ngModel)]="session.age" style="margin-bottom:17px">
          <label> Languages </label>
          <select class="form-control" name="language" [(ngModel)]="session.language">
            <option value="it">Italiano</option>
            <option value="en">Inglese</option>
          </select>
          <button (click)="submit" class="btn btn-primary">Save</button>
        </form>
        <p *ngIf="error" class="alert alert-danger"> {{ error }} </p>
      </div>
    </div>
  </div>
</div>