<section class="section">
    <app-animation></app-animation>
</section>
<div class="container ">
    <div class="row justify-content-md-center">
            <div class="col  text-center">
            <a [routerLink]="['/chat']" >
            <img class="img-fluid imagen" alt="Responsive image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-aQu6StLE_WqB-2Rm3ukYIUZNSHre85ddEQANLv0hB79L8Ra8">
            </a>
        </div>
        <div class="col text">
             <h4>The perfect system to learn any language :)</h4>
             <h5>Start to chat with our bot and simulate a real conversation!!</h5> 
        </div>     
    </div>     
 <hr>
 <div class="container ">
        <div class="row justify-content-md-center">
                <div class="col  text-center">
                <a [routerLink]="['/list']" >
                <img class="img-fluid imagen" alt="Responsive image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-aQu6StLE_WqB-2Rm3ukYIUZNSHre85ddEQANLv0hB79L8Ra8">
                </a>
            </div>
            <div class="col text">
                 <h4>Check your ranking!</h4>
                 <h5>Our play will help you to learn new vocabulary ^^</h5> 
            </div>          
     </div>
</div>