.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.center{
  padding: 20px;
  width: 400px;
  margin: 0 auto;
}

.btn-primary{
  background-color: #00B5AD;
  border-color: #00B5AD;
}

.section {
  height: 90%;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	background: rgb(26, 188, 156);
	background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
}