.center{
    padding: 20px;
    width: 400px;
    margin: 0 auto;
  }

.card{
    padding: 20px;
}

.container{
    height: 100%;
}


.btn-primary{
    background-color: #00B5AD;
    border-color: #00B5AD;
  }