<div class="container">
  <div class="row text-center" style="margin-top:17px">
    <div class="card center" style="width: 28rem;">
      <img *ngIf="!session.getUserGender()" class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtjC1ue_JBgcpqkfusdsWaehhnHrjx5nZMG76rEZj4hoAm_gMD"
        alt="Card image cap">
      <img *ngIf="session.getUserGender()" class="card-img-top" src="http://semantic-ui.com/images/avatar2/large/kristy.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Profile</h5>
        <label> Username </label>
        <p class="card-text">{{user.username}}</p>
        <label> Gender </label>
        <p class="card-text">{{user.gender}}</p>
        <label> Age </label>
        <p class="card-text">{{user.age}}</p>
        <label> Languages </label>
        <p class="card-text">{{user.languages}}</p>
        <label>Total Point</label>
        <p class="card-text">{{user.progress}}</p>
        <a [routerLink]="['/edit']" class="btn btn-primary">Edit</a>
      </div>
    </div>
  </div>
</div>